.container {
  --gutter: 24px;
  width: 100%;
  padding-right: calc(var(--gutter) * 0.5);
  padding-left: calc(var(--gutter) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.d-mobile-block {
  display: none !important;
}

.d-mobile-flex {
  display: none !important;
}

// 24px gap between all containers and window
@media (min-width: 1272px) {
  .container {
    max-width: 1224px;
  }
}

// container - 60px
@media (max-width: 1272px) {
  .container {
    max-width: 1164px;
  }

  .main {
    $root: &;

    &__aside {
      width: 220px;
    }

    &--post {
      #{$root}__layout {
        width: 728px;
      }

      #{$root}__aside {
        width: 382px;
      }
    }
  }

  .section {
    $root: &;

    &--store-details {
      #{$root}__body {
        gap: 24px;
      }
    }
  }

  .my-store {
    $root: &;
    width: 208.8px;

    &__picture {
      height: 208.8px;
    }

    &--sm {
      width: 205px;

      #{$root}__picture {
        height: 205px;
      }
    }

    &--detailed {
      gap: 20px;

      #{$root}__info {
        padding-right: 0px;

        #{$root}__contact {
          gap: 12px;
        }
      }
    }

    &--inline {
      width: 100% !important;
    }
  }

  .my-post {
    $root: &;
    width: 208.8px;

    &__picture {
      height: 208.8px;
    }

    &--sm {
      width: 205px;

      #{$root}__picture {
        height: 205px;
      }
    }
  }

  .my-stat {
    width: 353.3px;
  }
}

// container - 140px
@media (max-width: 1212px) {
  .container {
    max-width: 924px;
  }

  .my-post {
    $root: &;
    width: 205px;

    &__picture {
      height: 205px;
    }
  }

  .my-store {
    $root: &;
    width: 205px;

    &__picture {
      height: 205px;
    }

    &__divider {
      width: 100%;
      height: 1px;
    }

    &__business-info {
      max-width: none;
    }

    &--detailed {
      width: 100% !important;
    }
  }

  .my-stat {
    width: 286.6px;
  }

  .my-form {
    $root: &;

    &__content {
      &__footer {
        justify-content: center;
      }
    }

    &--new-post {
      max-width: none;
    }

    &--profile {
      max-width: none;
    }
  }

  .main {
    $root: &;

    &__content {
      flex-direction: column;
    }

    &__aside {
      width: 100%;
    }

    &--home {
      #{$root}__content {
        flex-direction: column-reverse;
      }

      #{$root}__aside {
        flex-direction: row;
        display: none;
      }
    }

    &--new-post {
      #{$root}__content {
        flex-direction: column-reverse;
      }
    }

    &--post {
      #{$root}__layout {
        width: 100%;
      }

      #{$root}__aside {
        width: 100%;
        padding-left: 0;
        gap: 0;

        &__header {
          padding-top: 0;

          .my-btn {
            margin-top: -68px;
          }
        }
      }
    }
  }

  .section {
    $root: &;

    &--store-details {
      #{$root}__body {
        flex-direction: column;
      }
    }
  }

  .header {
    $root: &;

    &__main {
      .my-btn {
        &--catalog,
        &--add-post {
          padding: 10px;
          min-width: 42px;

          span {
            display: none;
          }
        }
      }
    }

    &__top {
      #{$root}__content {
        gap: 20px;
      }

      #{$root}__contact-list {
        gap: 12px;
      }

      #{$root}__menu-list {
        gap: 12px;
      }
    }
  }

  .footer {
    $root: &;

    &__contact {
      &-list {
        gap: 12px;
      }

      #{$root}__menu-list {
        gap: 12px;
      }
    }
  }

  .sidebar {
    $root: &;

    &__body {
      min-height: auto;
    }
  }
}

@media (max-width: 972px) {
  .d-mobile-block {
    display: block !important;
  }

  .d-mobile-flex {
    display: flex !important;
  }

  .d-mobile-none {
    display: none !important;
  }

  .container {
    max-width: 744px;
  }

  .my-catalog {
    $catalog: &;

    .sidebar {
      max-width: none;
      width: 100%;
      padding: 0;
      gap: 0;
      border: none;

      &__header {
        padding: 12px 16px;
        // justify-content: center;
        border-bottom: 1px solid var(--gray-500);
        min-height: 56px;

        &__title {
          font-size: var(--fs-b6);
          font-weight: var(--fw-medium);
          line-height: var(--lh-b6);
        }
      }

      &__body {
        padding: 0 16px;
      }
    }

    &__list {
      gap: 0;

      &__item {
        display: flex;
        border-radius: 0;
        transition: none;

        &:not(:last-child) {
          border-bottom: 1px solid var(--gray-500);
        }

        &--active {
          background: none;

          .my-catalog__sub {
            visibility: visible;
            opacity: 1;
          }
        }

        > a {
          padding: 16px 0;

          div {
            display: flex;
            align-items: center;
            flex-grow: 1;
            gap: 12px;
          }
        }
      }
    }

    &__sub {
      display: flex;
      flex-direction: column;
      gap: 0;
      position: absolute;
      inset: 0;
      padding: 0;
      background: var(--white);

      .section__header {
        padding: 12px 16px;
        border-bottom: 1px solid var(--gray-500);

        &__title {
          align-items: center;
          font-size: var(--fs-b6);
          font-weight: var(--fw-medium);
          line-height: var(--lh-b6);

          svg {
            width: 18px;
            height: 18px;
            object-fit: contain;
          }
        }
      }

      .section__body {
        height: auto;
        overflow: auto;
        padding: 16px;
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        column-count: inherit;
        column-gap: inherit;

        &__item {
          margin-bottom: 0;
        }
      }
    }
  }

  .my-stat {
    padding: 16px;
    width: 100%;

    &__icon {
      width: 40px;
      height: 40px;
      margin-bottom: 24px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &__value {
      font-size: var(--fs-b8);
      line-height: var(--lh-b8);
    }

    &__desc {
      font-size: var(--fs-b6);
      line-height: var(--lh-b6);
    }
  }

  .my-video {
    height: auto;

    &__overlay {
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  .main {
    $root: &;

    &__layout {
      max-width: none;
    }

    &__aside {
      width: 100%;
    }

    &--about {
      #{$root}__sections {
        gap: 40px;
      }

      .section__header {
        justify-content: flex-start;

        &__title {
          text-align: left;
          font-size: var(--fs-h2);
          line-height: var(--lh-b2);
        }
      }
    }
  }

  .section {
    $root: &;

    &--categories {
      #{$root}__body {
        flex-wrap: nowrap;
        overflow: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    &--posts-premium {
      #{$root}__body {
        flex-wrap: nowrap;
        overflow: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    &--posts-discount {
      #{$root}__body {
        flex-wrap: nowrap;
        overflow: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    &--about {
      #{$root}__body {
        flex-direction: column;

        > div {
          width: 100%;
        }
      }

      .about {
        &-content {
          gap: 12px;

          &__title {
            font-size: var(--fs-h2);
            line-height: var(--lh-h2);
          }

          &__description {
            font-size: var(--fs-b4);
            line-height: var(--lh-b4);
          }
        }
      }
    }
  }

  .header {
    $root: &;
    position: relative;
    background: var(--white);

    &__main {
      #{$root}__content {
        gap: 20px;

        &__group {
          gap: 20px;

          &__item {
            gap: 12px;

            &.grow {
              justify-content: center;
            }
          }
        }
      }
    }

    &__mobile {
      position: absolute;
      height: calc(100vh - 72px);
      width: 100%;
      top: 72px;
      background: rgba(34, 34, 34, 0.6);
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      transition: all 250ms ease-in-out;
      margin-top: 1px;

      #{$root}__content {
        background: var(--white);
        padding: 8px 16px 24px;
        overflow: auto;

        .container {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }

      &--show {
        opacity: 1;
        visibility: visible;
      }
    }

    #{$root}__catalog {
      position: fixed;
      inset: 0;
      height: 100vh;
      padding-bottom: 0;
      z-index: 99;
      background: var(--gray-300);
    }

    #{$root}__contact-list {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px;
      gap: 24px;

      li {
        display: flex;

        a {
          display: flex;
          align-items: center;
          gap: 4px;
          color: var(--gray-900);
          font-size: var(--fs-b4);
          line-height: var(--lh-b4);
          font-weight: var(--fw-medium);
          transition: all 250ms ease-in-out;

          &:hover {
            color: var(--green-500);
          }

          svg,
          img {
            width: 16px;
            height: 16px;
            object-fit: contain;
            flex-shrink: 0;
          }
        }
      }
    }

    #{$root}__menu-list {
      display: flex;
      flex-direction: column;

      li {
        display: flex;

        &:not(:last-child) {
          border-bottom: 1px solid var(--gray-500);
        }

        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-grow: 1;
          gap: 4px;
          padding: 16px 0;
          color: var(--gray-900);
          font-size: var(--fs-b6);
          line-height: var(--lh-b6);
          font-weight: var(--fw-medium);
          transition: all 250ms ease-in-out;

          &.active {
            color: var(--green-500);
          }

          svg,
          img {
            width: 16px;
            height: 16px;
            object-fit: contain;
            flex-shrink: 0;
          }
        }
      }
    }
  }

  .footer {
    padding-bottom: 60px;
  }

  .sidebar {
    &--white {
      border-radius: 0;
    }
  }
}

@media (max-width: 792px) {
  .container {
    max-width: none;
    padding: 0;
  }

  .my-dropdown {
    $root: &;

    &--search {
      position: static;

      #{$root}__body {
        padding: 8px 16px;
        max-height: none;
        height: calc(100vh - 116px);
        top: 116px;

        &__content {
          display: flex;
          flex-direction: column;
          gap: 16px;

          &__title {
            font-size: var(--fs-b4);
            line-height: var(--lh-b4);
            display: none;
          }

          &__wrapper {
            gap: 0;
            max-height: none;
            flex-wrap: nowrap;
          }
        }
      }

      #{$root}__header {
        background: var(--white);
      }
    }

    &__body {
      gap: 0;
      background: var(--white);
      font-size: var(--fs-b6);
      line-height: var(--lh-b6);
      box-shadow: none;

      span {
        padding: 16px 0;

        &:not(:last-child) {
          border-bottom: 1px solid var(--gray-500);
        }
      }
    }
  }

  .my-category {
    width: 100px;
    height: 100px;
    font-size: var(--fs-b2);
    line-height: var(--lh-b2);

    span {
      padding: 8px;
    }
  }

  .my-post {
    $root: &;
    width: 166px;

    &__picture {
      height: 166px;
    }

    &__price {
      &-value {
        font-size: var(--fs-b6);
        line-height: var(--lh-b6);

        &--old {
          font-size: var(--fs-b3);
          line-height: var(--lh-b3);
        }
      }
    }

    &__name {
      font-size: var(--fs-b4);
      line-height: var(--lh-b4);
    }

    &__date {
      font-size: var(--fs-b2);
      line-height: var(--lh-b2);
    }

    &__details {
      &__list {
        $list: &;
        flex-direction: column;
        gap: 16px;

        &__item {
          width: 100% !important;
        }

        &--grid {
          gap: 0;

          #{$list}__item {
            &:nth-child(4n + 1),
            &:nth-child(4n + 2) {
              background: none;
            }

            &:nth-child(2n + 1) {
              background: var(--white);
            }
          }
        }
      }
    }

    &--sm {
      width: 166px;

      #{$root}__picture {
        height: 166px;
      }
    }
  }

  .my-store {
    $root: &;
    width: 166px;

    &__picture {
      height: 166px;
    }

    &__name {
      font-size: var(--fs-b6);
      line-height: var(--lh-b6);
    }

    &__desc {
      margin-bottom: 4px;
    }

    &__address {
      font-size: var(--fs-b2);
      line-height: var(--lh-b2);
    }

    &--detailed {
      gap: 8px;

      #{$root}__picture {
        width: 56px;
        height: 56px;
      }
    }

    &--sm {
      width: 166px;

      #{$root}__picture {
        height: 166px;
      }
    }
  }

  .my-tabs {
    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &__item {
      flex-shrink: 0;
    }
  }

  .my-banner {
    flex-wrap: wrap;
    gap: 4px;

    &--premium {
      padding: 8px 12px 8px 16px;
    }

    &__content {
      display: flex;
      align-items: center;
      gap: 12px;
      margin: 0;

      &__image {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        object-fit: contain;
      }

      &__text {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }

    &__title {
      min-width: auto;
    }
  }

  .main {
    &__content {
      padding: 16px 0;
      gap: 16px;
    }

    &__sections {
      gap: 16px;
    }

    &__breadcrumbs {
      padding: 8px 16px;
    }
  }

  .section {
    $root: &;
    padding-left: 16px;
    padding-right: 16px;
    gap: 20px;

    &__header {
      &__title {
        font-size: var(--fs-h3);
        line-height: var(--lh-h3);
      }
    }

    &--white {
      border-radius: 0;
    }

    &--categories {
      #{$root}__body {
        gap: 8px;
      }
    }

    &--posts {
      #{$root}__body {
        gap: 20px 12px;
      }
    }

    &--stores {
      #{$root}__body {
        gap: 20px 12px;
      }
    }

    &--posts-premium,
    &--posts-discount {
      padding: 16px 0;

      #{$root}__header {
        padding: 0 16px;
      }

      #{$root}__body {
        padding: 0 16px;
      }
    }
  }

  .header {
    $root: &;
    position: relative;
    background: var(--white);
    padding-bottom: 60px;

    &__main {
      #{$root}__content {
        position: relative;
        padding: 8px 16px;
        border: none;
      }

      #{$root}__search {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 98;
        background: white;
        padding: 8px 16px;
        max-width: none;
        margin-top: 1px;
      }
    }

    &__mobile {
      top: 58px;
      height: calc(100vh - 58px);
    }
  }

  .footer {
    $root: &;

    &__cities {
      #{$root}__content {
        padding: 32px 16px 16px;
      }

      &-list {
        max-height: 708px;
      }
    }

    &__contact {
      #{$root}__content {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 16px;
        padding: 16px;
      }

      &-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
      }

      #{$root}__menu-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
      }
    }

    &__branding {
      padding: 16px 16px 32px;
      border-top: 1px solid var(--gray-500);

      &__row {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;

        &:last-child {
          align-items: flex-start;
        }
      }

      &__col {
        max-width: none;
      }

      #{$root}__content {
        padding: 0;
      }
    }
  }

  .swiper {
    $root: &;

    &--post-gallery {
      height: 324px;
    }
  }
}

@media (max-width: 572px) {
  .my-post {
    $root: &;
    width: calc(50% - 6px);
  }

  .my-store {
    $root: &;
    width: calc(50% - 6px);
  }

  .swiper {
    .my-store {
      $root: &;
      width: 166px;

      &__picture {
        height: 166px;
      }
    }
  }
}
