/* ==============================
        1. Globals
============================== */
:root {
  /* Design colors */
  --green-500: #358c6c;
  --green-400: #3ea37e;
  --green-300: #e1eee9;

  /* Secondary colors */
  --yellow-400: #ffc90a;
  --yellow-300: #fff7da;

  --purple-400: #525297;
  --purple-300: #e5e5f0;

  --red-400: #c65968;
  --red-300: #f7e6e8;

  --blue-400: #2e6bdb;
  --blue-300: #e0e9fa;

  --orange-400: #f2a40c;
  --orange-300: #fdf2db;

  --white: #ffffff;

  /* General colors */
  --gray-900: #222222;
  --gray-800: #3d3d3d;
  --gray-700: #7a7a7a;
  --gray-500: #e6e6e6;
  --gray-400: #f5f5f5;
  --gray-300: #f7f7f7;

  /* Font family */
  --primary-font-family: "Inter", sans-serif;

  /* Font size - Heading */
  --fs-h1: 32px;
  --fs-h2: 24px;
  --fs-h3: 18px;
  --fs-h4: 16px;

  /* Line height - Heading */
  --lh-h1: 32px;
  --lh-h2: 28px;
  --lh-h3: 24px;
  --lh-h4: 20px;

  /* Font size - Basic */
  --fs-b1: 10px;
  --fs-b2: 12px;
  --fs-b3: 13px;
  --fs-b4: 14px;
  --fs-b5: 15px;
  --fs-b6: 16px;
  --fs-b7: 18px;
  --fs-b8: 24px;
  --fs-b9: 32px;

  /* Line height - Basic */
  --lh-b1: 14px;
  --lh-b2: 16px;
  --lh-b3: 16px;
  --lh-b4: 18px;
  --lh-b5: 20px;
  --lh-b6: 20px;
  --lh-b7: 24px;
  --lh-b8: 28px;
  --lh-b9: 32px;

  /* Font weight */
  --fw-extra-bold: 800;
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-thin: 300;

  /* Border radius */
  --br-2: 2px;
  --br-4: 4px;
  --br-6: 6px;
  --br-8: 8px;
  --br-12: 12px;
  --br-16: 16px;
  --br-20: 20px;
}

/* ==============================
          2. Basics
  ============================== */

// html {
//   scrollbar-color: var(--gray-700) var(--white);
//   scrollbar-width: thin;
// }

body {
  font-family: var(--primary-font-family);
  font-size: var(--fs-b5);
  font-weight: var(--fw-regular);
  line-height: var(--lh-b5);
  color: var(--gray-900);
  background-color: var(--gray-300);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: var(--fw-semi-bold);
}

h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-h1);
}

h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-h2);
}

h3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-h3);
}

h4 {
  font-size: var(--fs-h4);
  line-height: var(--lh-h4);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* Selection */
::selection {
  background: var(--green-500);
  color: var(--white);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: var(--gray-700);
  border-radius: 14px;
  border: 4px solid var(--white);
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* ==============================
          3. Components
  ============================== */
.my-btn {
  $root: &;
  display: flex;
  outline: none;
  box-shadow: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  gap: 8px;
  height: 42px;
  font-size: var(--fs-b4);
  font-weight: var(--fw-medium);
  background: var(--white);
  color: var(--gray-900);
  padding: 10px 16px;
  border: 1px solid var(--gray-500);
  border-radius: 24px;
  transition: all 250ms ease-in-out;
  cursor: pointer;

  svg,
  img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    flex-shrink: 0;
  }

  svg path {
    // stroke: var(--gray-900);
  }

  &:hover {
    background: var(--gray-400);
    border-color: var(--gray-500);
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }

  &--icon {
    width: 42px;
    padding: 10px;
  }

  &--primary {
    background: var(--gray-900);
    border-color: var(--gray-900);
    color: var(--white);

    svg path {
      // stroke: var(--white);
    }

    &:hover {
      background: var(--gray-800);
      border-color: var(--gray-800);
    }
  }

  &--secondary {
    background: var(--green-500);
    border-color: var(--green-500);
    color: var(--white);

    svg path {
      // stroke: var(--white);
    }

    &:hover {
      background: var(--green-400);
      border-color: var(--green-400);
    }
  }

  &--fav {
    background: rgba(255, 255, 255, 0.9);
    border: none;

    &:hover {
      background: rgba(255, 255, 255, 0.9);
    }

    &.is-fav {
      svg path {
        fill: var(--red-400);
        stroke: var(--red-400);
      }
    }
  }

  &--fav2 {
    background: var(--red-300);
    border: none;

    &:hover {
      background: var(--red-300);
    }

    &.is-fav {
      svg path {
        fill: var(--red-400);
        stroke: var(--red-400);
      }
    }
  }

  &--nav {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    color: var(--gray-900);
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
    border: none;
    z-index: 10;
    transform: translateY(-50%);
    cursor: pointer;

    svg {
      width: 16px;
      height: 16px;
      object-fit: contain;
    }

    &#{$root}--prev {
      left: 12px;
    }

    &#{$root}--next {
      right: 12px;
    }
  }

  &--share {
    background: var(--blue-300);
    border: none;

    svg path {
      // stroke: var(--blue-400);
    }

    &:hover {
      background: var(--blue-300);
    }
  }

  &--report {
    background: var(--gray-500);
    border: none;

    svg path {
      // stroke: var(--gray-900);
    }

    &:hover {
      background: var(--gray-500);
    }
  }

  &--premium {
    background: var(--blue-400);
    color: var(--white);
    border: none;

    svg path {
      // stroke: var(--white);
    }

    &:hover {
      background: var(--blue-400);
    }
  }

  &--catalog {
    .my-icon {
      &--close {
        display: none;
      }
    }

    &#{$root}--active {
      .my-icon {
        &--categories {
          display: none;
        }

        &--close {
          display: block;
        }
      }
    }
  }

  &--small {
    height: 32px;
    padding: 6px 12px;
    gap: 6px;

    &#{$root}--icon {
      width: 32px;
      padding: 6px;

      svg,
      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  &--text {
    padding: 0;
    height: auto;
    gap: 6px;
    border: none;
    border-radius: 0;
    background: none;
    color: var(--gray-900);
    font-weight: var(--fw-regular);

    svg {
      width: 16px;
      height: 16px;
      object-fit: contain;

      path {
        stroke: var(--gray-900);
        transition: all 250ms ease-in-out;
      }
    }

    &:hover {
      color: var(--green-500);
      background: none;

      svg path {
        stroke: var(--green-500);
      }
    }

    &#{$root}--primary {
      color: var(--green-500);

      svg path {
        stroke: var(--green-500);
      }

      &:hover {
        color: var(--green-400);

        svg path {
          stroke: var(--green-400);
        }
      }
    }
  }
}

.my-search {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--gray-400);
  height: 42px;
  border-radius: 32px;
  padding: 11px 16px;
  transition: all 250ms ease-in-out;
  overflow: hidden;

  &:focus-within {
    background: var(--gray-500);
  }

  input {
    border: none;
    background: none;
    outline: none;
    color: var(--gray-900);
    font-size: var(--fs-b5);
    line-height: var(--lh-b5);
    caret-color: var(--green-500);

    &::placeholder {
      color: var(--gray-700);
    }
  }

  button {
    border: none;
    outline: none;
    background: none;
    padding: 0;
  }
}

.my-dropdown {
  $root: &;
  position: relative;
  display: flex;

  &--search {
    position: static;
    #{$root}__body {
      padding: 20px;

      &__content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &__title {
          font-size: var(--fs-b8);
          line-height: var(--lh-b8);
          font-weight: var(--fw-semi-bold);
        }

        &__wrapper {
          display: flex;
          flex-direction: column;
          gap: 12px;
          max-height: 372px;
          flex-wrap: wrap;
        }
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 42px;
    width: 152px;
    padding: 10px 16px;
    background: var(--gray-400);
    border-radius: 24px;
    transition: all 250ms ease-in-out;
    user-select: none;
    cursor: pointer;

    &__prefix,
    &__suffix {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        flex-shrink: 0;
        object-fit: contain;
        transition: all 250ms ease-in-out;

        path {
          // stroke: var(--gray-900);
        }
      }
    }

    &__prefix svg {
      width: 20px;
      height: 20px;
    }

    &__suffix svg {
      width: 16px;
      height: 16px;
    }

    &__content {
      flex-grow: 1;
      font-size: var(--fs-b4);
      font-weight: var(--fw-medium);
      color: var(--gray-900);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__body {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: var(--white);
    font-size: var(--fs-b4);
    line-height: var(--lh-b4);
    box-shadow: 0px 4px 12px 0px rgba(34, 34, 34, 0.1);
    opacity: 0;
    overflow: auto;
    visibility: hidden;
    transition: all 250ms ease-in-out;
    z-index: 99;

    span {
      transition: all 250ms ease-in-out;
      cursor: pointer;

      &.selected,
      &:hover {
        color: var(--green-500);
      }
    }
  }

  &.show {
    #{$root}__header {
      &__suffix {
        transform: rotate(180deg);
      }
    }

    #{$root}__body {
      opacity: 1;
      visibility: visible;
    }
  }
}

.my-category {
  position: relative;
  width: 136px;
  height: 136px;
  font-size: var(--fs-b4);
  line-height: var(--lh-b4);
  font-weight: var(--fw-medium);
  background: var(--gray-500);
  color: var(--gray-900);
  border-radius: 12px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  span {
    position: absolute;
    padding: 8px 10px;
    inset: 0;
  }

  &--light {
    color: var(--white);
    background: var(--green-500);
  }
}

.my-store {
  $root: &;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 220.8px;

  &--sm {
    width: 205px;

    #{$root}__picture {
      height: 205px;
    }
  }

  &--detailed {
    flex-direction: row;
    gap: 20px;
    flex-grow: 1;

    #{$root}__picture {
      width: 192px;
      height: 192px;
    }

    #{$root}__info {
      padding-right: 32px;

      #{$root}__name {
        font-size: var(--fs-h2);
        line-height: var(--lh-h2);
        font-weight: var(--fw-bold);
      }

      #{$root}__desc {
        margin-bottom: 12px;
      }

      #{$root}__rating {
        font-size: var(--fs-b6);
        line-height: var(--lh-b6);
      }

      #{$root}__post-count {
        font-size: var(--fs-b6);
        line-height: var(--lh-b6);
      }

      #{$root}__description {
        font-size: var(--fs-b3);
        line-height: var(--lh-b3);
        color: var(--gray-700);
      }

      #{$root}__contact {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 24px;
      }
    }
  }

  &--inline {
    flex-direction: row;
    align-items: center;
    width: auto;
    gap: 8px;

    #{$root}__picture {
      width: 56px;
      height: 56px;
      border-radius: 8px;
    }

    #{$root}__info {
      flex-grow: 1;
      gap: 4px;

      #{$root}__name {
        font-size: var(--fs-b7);
        line-height: var(--lh-b7);
        margin-bottom: 0;
      }

      #{$root}__post-count {
        font-size: var(--fs-b7);
        line-height: var(--lh-b7);
      }
    }

    #{$root}__content {
      display: flex;
      gap: 4px;
    }
  }

  &__picture {
    height: 220.8px;
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__name {
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    font-weight: var(--fw-semi-bold);
    color: var(--gray-900);
    margin-bottom: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &__desc {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }

  &__rating {
    display: flex;
    font-size: var(--fs-b4);
    line-height: var(--lh-b4);
    font-weight: var(--fw-medium);

    svg {
      width: 16px;
      height: 16px;
      object-fit: contain;
      margin-right: 2px;
    }

    &__value {
      color: var(--gray-900);
      margin-right: 4px;
    }

    &__total {
      color: var(--gray-700);
    }
  }

  &__separator {
    width: 2px;
    height: 2px;
    background: var(--green-500);
    border-radius: 2px;
    margin: 0 4px;
  }

  &__post-count {
    font-size: var(--fs-b4);
    line-height: var(--lh-b4);
    font-weight: var(--fw-medium);
    color: var(--green-500);
  }

  &__address {
    font-size: var(--fs-b3);
    line-height: var(--lh-b3);
    color: var(--gray-700);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &__divider {
    width: 1px;
    background: var(--gray-500);
  }

  &__business-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;

    &__item {
      padding: 8px 0;

      &--contact {
        cursor: pointer;

        &:hover,
        &:hover a {
          color: var(--green-500);
        }
      }

      .label {
        font-size: var(--fs-b4);
        line-height: var(--lh-b4);
        color: var(--gray-700);
        margin-left: auto;
      }
    }

    &__item,
    &__item a {
      display: flex;
      font-size: var(--fs-b6);
      font-weight: var(--fw-medium);
      line-height: var(--lh-b6);
      color: var(--gray-900);
      gap: 8px;
      transition: all 250ms ease-in-out;

      span {
        display: flex;
        align-items: center;
        min-height: 24px;
      }

      svg {
        width: 24px;
        height: 24px;
        object-fit: contain;
        flex-shrink: 0;
      }
    }
  }
}

.my-post {
  $root: &;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 220.8px;

  &--sm {
    width: 205px;

    #{$root}__picture {
      height: 205px;
    }
  }

  &__picture {
    position: relative;
    height: 220.8px;
    border-radius: 12px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__overlay {
    position: absolute;
    inset: 0;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;

    > div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 4px;
    }

    #{$root}__discount {
      font-size: var(--fs-b3);
      line-height: var(--lh-b3);
      font-weight: var(--fw-semi-bold);
      background: var(--red-400);
      color: var(--white);
      padding: 4px;
      border-radius: 4px;
    }

    #{$root}__premium {
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: var(--fs-b3);
      line-height: var(--lh-b3);
      font-weight: var(--fw-medium);
      background: var(--gray-900);
      color: var(--white);
      padding: 0 4px;
      border-radius: 4px;

      svg,
      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 4px;
  }

  &__price {
    display: flex;
    align-items: flex-end;
    gap: 6px;

    &-value {
      font-size: var(--fs-b7);
      line-height: var(--lh-b7);
      font-weight: var(--fw-bold);
      color: var(--gray-900);

      &--old {
        font-size: var(--fs-b3);
        line-height: var(--lh-b3);
        color: var(--red-400);
        font-weight: var(--fw-medium);
        text-decoration: line-through;
        padding-bottom: 3px;
      }
    }
  }

  &__name {
    font-size: var(--fs-b5);
    line-height: var(--lh-b5);
    color: var(--gray-900);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__date {
    font-size: var(--fs-b3);
    line-height: var(--lh-b3);
    color: var(--gray-700);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__header {
      font-size: var(--fs-b7);
      font-weight: var(--fw-semi-bold);
      line-height: var(--lh-b7);
    }

    &__body {
      font-size: var(--fs-b5);
      line-height: var(--lh-b5);
    }

    &__list {
      $list: &;
      display: flex;
      gap: 0 48px;

      &__item {
        display: flex;
        gap: 6px;
        font-size: var(--fs-b4);
        line-height: var(--lh-b4);

        &__label {
          color: var(--gray-700);
        }

        &__value {
          font-weight: var(--fw-medium);
        }
      }

      &--grid {
        --gutter: 20px;
        flex-wrap: wrap;
        gap: 0 var(--gutter);

        #{$list}__item {
          width: calc(50% - calc(var(--gutter) / 2));
          border-radius: 12px;
          font-size: var(--fs-b6);
          line-height: var(--lh-b6);
          padding: 12px;
          gap: 20px;

          &:nth-child(4n + 1),
          &:nth-child(4n + 2) {
            background: var(--white);
          }

          &__label {
            min-width: 120px;
          }

          &__value {
            font-size: var(--fs-b6);
            line-height: var(--lh-b6);
            font-weight: var(--fw-semi-bold);
          }
        }
      }
    }
  }
}

.my-accordion {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;

  &__item {
    $root: &;

    &:not(:last-child) {
      border-bottom: 1px solid var(--gray-500);
    }

    &__header {
      display: flex;
      justify-content: space-between;
      gap: 16px;
      padding: 16px 8px 16px 0;
      font-size: var(--fs-b6);
      line-height: var(--lh-b6);
      font-weight: var(--fw-semi-bold);
      user-select: none;
      transition: all 25ms ease-in-out;
      cursor: pointer;

      > svg {
        width: 16px;
        height: 20px;
        object-fit: contain;
        flex-shrink: 0;
        transition: all 250ms ease-in-out;

        path {
          // stroke: var(--gray-900);
        }
      }
    }

    &__body {
      display: none;
      padding-bottom: 16px;
      font-size: var(--fs-b5);
      line-height: var(--lh-b5);
    }

    &.show {
      #{$root}__header {
        color: var(--green-500);

        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.my-stat {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 12px;
  background: var(--white);
  width: 386.6px;

  &__icon {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    background: var(--green-500);

    svg {
      width: 28px;
      height: 28px;
      object-fit: contain;
    }
  }

  &__value {
    font-size: 48px;
    font-weight: var(--fw-bold);
    line-height: 56px;
    margin-bottom: 8px;
  }

  &__description {
    font-size: var(--fs-b7);
    font-weight: var(--fw-semi-bold);
    line-height: var(--lh-b7);
    color: var(--gray-700);
  }
}

.my-video {
  position: relative;
  display: flex;
  border-radius: 12px;
  height: 675px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(34, 34, 34, 0.6);
    z-index: 2;

    svg {
      width: 72px;
      height: 72px;
      object-fit: contain;
    }
  }
}

.my-content {
  --gutter-md: 16px;

  * {
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: var(--gutter-md);
  }

  p,
  iframe,
  ol,
  ul,
  table,
  img {
    margin-top: 0;
    margin-bottom: var(--gutter-md);
  }

  ul,
  ol {
    margin-right: 0;
    margin-left: var(--gutter-md);
    padding-left: var(--gutter-md);
  }

  li {
    list-style: unset;
  }

  li:not(:last-child) {
    margin-bottom: 12px;
  }

  img {
    display: block;
    max-width: 100%;
    max-height: 65vh;
    width: auto;
    height: auto;
  }

  a {
    color: var(--green-400);
    text-decoration: underline;
    transition: all 250ms ease-in-out;

    &:hover {
      color: var(--green-500);
    }
  }
}

.my-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 386px;
  margin: 0 auto;

  > img {
    width: 320px;
    height: 320px;
    object-fit: contain;
  }

  &__code {
    font-size: var(--fs-h1);
    font-weight: var(--fw-extra-bold);
    line-height: var(--lh-h1);
    margin-bottom: 8px;
  }

  &__message {
    font-size: var(--fs-h2);
    font-weight: var(--fw-extra-bold);
    line-height: var(--lh-h2);
    margin-bottom: 8px;
  }

  &__details {
    font-size: var(--fs-b5);
    line-height: var(--lh-b5);
    color: var(--gray-700);
  }

  > .my-btn {
    margin-top: 32px;
  }
}

.my-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-radius: 30px;
  gap: 20px;
  background: linear-gradient(to right, var(--purple-400), var(--gray-900));
  user-select: none;
  cursor: pointer;

  &--premium {
    padding: 8px 12px 8px 16px;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0;

    &__image {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      object-fit: contain;
    }

    &__text {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  &__title {
    font-size: var(--fs-b6);
    font-weight: var(--fw-semi-bold);
    line-height: var(--lh-b6);
    color: var(--white);
    min-width: 220px;
  }

  &__description {
    font-size: var(--fs-b6);
    font-weight: var(--fw-medium);
    line-height: var(--lh-b6);
    color: var(--white);
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.my-divider {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  background: var(--gray-500);

  &--v {
    border-radius: 0;
    height: 100%;
    width: 1px;
  }

  &--h {
    border-radius: 0;
    width: 100%;
    height: 1px;
  }
}

.my-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--fs-b4);
  line-height: var(--lh-b4);
  font-weight: var(--fw-medium);
  color: var(--gray-900);
  border-radius: 24px;
  padding: 6px 12px;
  min-height: 32px;
  border: 1px solid var(--gray-500);
  background: var(--white);
}

// Modifiers
.overflow {
  &-hidden {
    overflow: hidden !important;
  }

  &-auto {
    overflow: auto !important;
  }
}

.hidden {
  display: none !important;
}

// Libraries
.swiper {
  $root: &;
  width: 100%;
  height: 100%;

  &--stores {
    .my-btn--nav {
      margin-top: -38px;
    }
  }

  &--post-gallery {
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 12px;

    #{$root}-slide {
      align-items: center;
      justify-content: center;

      img {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &--post-thumbs {
    height: 120px;

    #{$root}-slide {
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      overflow: hidden;
      width: 120px;
      opacity: 0.5;
      cursor: pointer;
      border: 1px solid var(--gray-500);

      img {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &-thumb-active {
        opacity: 1;
        border-color: var(--gray-700);
      }
    }
  }

  &-slide {
    position: relative;
    display: flex;

    &__backdrop {
      position: absolute;
      inset: 0;
      background-repeat: no-repeat;
      background-size: 120%;
      background-position: center;
      background-color: var(--gray-500);
      filter: blur(20px);
      -webkit-filter: blur(20px);
    }
  }

  &-button-disabled {
    opacity: 0;
    visibility: hidden;
  }
}

.fancybox {
  &__caption {
    text-align: center;
  }
}

// Layout
.header {
  $root: &;
  position: relative;
  background: var(--white);

  &__top {
    border-bottom: 1px solid var(--gray-500);

    #{$root}__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      padding: 8px 0;
    }

    #{$root}__contact-list {
      display: flex;
      align-items: center;
      gap: 24px;

      li {
        display: flex;
        a {
          display: flex;
          align-items: center;
          gap: 4px;
          color: var(--gray-900);
          font-size: var(--fs-b4);
          line-height: var(--lh-b4);
          font-weight: var(--fw-medium);
          transition: all 250ms ease-in-out;

          &:hover {
            color: var(--green-500);
          }

          svg,
          img {
            width: 16px;
            height: 16px;
            object-fit: contain;
            flex-shrink: 0;
          }
        }
      }
    }

    #{$root}__menu-list {
      display: flex;
      align-items: center;
      gap: 24px;

      li {
        display: flex;
        a {
          display: flex;
          align-items: center;
          gap: 4px;
          color: var(--gray-900);
          font-size: var(--fs-b4);
          line-height: var(--lh-b4);
          font-weight: var(--fw-medium);
          transition: all 250ms ease-in-out;

          &:hover {
            color: var(--green-500);
          }

          svg,
          img {
            width: 16px;
            height: 16px;
            object-fit: contain;
            flex-shrink: 0;
          }
        }
      }
    }
  }

  &__main {
    border-bottom: 1px solid var(--gray-500);

    #{$root}__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 64px;
      padding: 15px 0;

      &__group {
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: 20px;

        &__item {
          display: flex;
          align-items: center;
          gap: 12px;

          &.grow {
            flex-grow: 1;
          }
        }
      }
    }

    #{$root}__logo {
      display: block;

      img {
        height: 32px;
        width: auto;
      }
    }

    #{$root}__search {
      flex-grow: 1;
      max-width: 348px;
    }

    #{$root}__catalog {
      --headerHeight: 108px;
      --spaceBottom: 68px;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      display: flex;
      height: calc(100vh - var(--headerHeight));
      padding-bottom: var(--spaceBottom);
      background: rgba(34, 34, 34, 0.6);
      transition: all 250ms ease-in-out;
      opacity: 0;
      visibility: hidden;
      z-index: 9;

      &--show {
        opacity: 1;
        visibility: visible;
      }

      &__content {
        display: flex;
        flex-grow: 1;
        background: var(--white);
        overflow: auto;

        .container {
          display: flex;
        }
      }

      .my-catalog {
        $catalog: &;
        position: relative;
        display: flex;
        flex-grow: 1;

        .sidebar {
          width: 286px;
          padding: 20px 0;
          gap: 16px;
          border-right: 1px solid var(--gray-500);

          &__header {
            padding: 0 8px 0 0;
          }

          &__body {
            padding: 0 8px 0 0;
          }
        }

        &__list {
          display: flex;
          flex-direction: column;
          gap: 12px;

          &__item {
            display: flex;
            border-radius: 12px;
            overflow: hidden;
            transition: all 250ms ease-in-out;

            &--active {
              background: var(--gray-400);

              .my-catalog__sub {
                visibility: visible;
                opacity: 1;
              }
            }

            > a {
              display: flex;
              align-items: center;
              flex-grow: 1;
              padding: 6px 8px 6px 6px;
              gap: 12px;
              font-size: var(--fs-b6);
              font-weight: var(--fw-medium);
              line-height: var(--lh-b6);
              color: var(--gray-900);

              div {
                display: flex;
                align-items: center;
                flex-grow: 1;
                gap: 12px;
              }

              img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 8px;
              }
            }
          }
        }

        &__sub {
          display: flex;
          flex-direction: column;
          gap: 16px;
          position: absolute;
          left: 286px;
          top: 0;
          right: 0;
          height: 100%;
          padding: 20px 0 20px 20px;
          opacity: 0;
          visibility: hidden;
          transition: all 250ms ease-in-out;
          z-index: 1;

          .section__header {
            padding: 0;
          }

          .section__body {
            height: calc(100% - 48px);
            overflow: auto;
          }

          &__list {
            column-count: 3;
            column-gap: 24px;

            &__item {
              break-inside: avoid-column;
              display: flex;
              flex-direction: column;
              margin-bottom: 28px;

              > a {
                font-size: var(--fs-b6);
                line-height: var(--lh-b6);
                font-weight: var(--fw-semi-bold);
                color: var(--gray-900);
                margin-bottom: 8px;
                transition: all 250ms ease-in-out;

                &:hover {
                  color: var(--green-500);
                }
              }

              > button {
                padding: 8px 0;
                align-self: flex-start;
              }

              ul {
                display: flex;
                flex-direction: column;

                li {
                  display: flex;

                  a {
                    font-size: var(--fs-b4);
                    line-height: var(--lh-b4);
                    color: var(--gray-900);
                    padding: 8px 0;
                    transition: all 250ms ease-in-out;

                    &:hover {
                      color: var(--green-500);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.main {
  $root: &;
  padding-bottom: 80px;

  &--about {
    #{$root}__sections {
      gap: 72px;
    }
  }

  &--post {
    #{$root}__layout {
      width: 798px;
    }

    #{$root}__aside {
      width: 382px;
      padding-left: 20px;

      &__header {
        display: flex;
        justify-content: flex-end;
        padding-top: 38px;
      }
    }

    .sidebar {
      padding: 20px 0;

      &__body {
        padding: 0 20px;
        gap: 20px;

        &__item {
          display: flex;
          flex-direction: column;

          &__title {
            font-size: var(--fs-b6);
            font-weight: var(--fw-semi-bold);
            line-height: var(--lh-b6);
            margin-bottom: 12px;
          }

          &__content {
            font-size: var(--fs-b4);
            line-height: var(--lh-b4);
            color: var(--gray-700);
          }
        }
      }

      .my-post {
        &__price {
          gap: 12px;

          &-value {
            font-size: var(--fs-b9);
            line-height: var(--lh-b9);
            font-weight: var(--fw-extra-bold);

            &--old {
              font-size: var(--fs-b7);
              line-height: var(--lh-b7);
              font-weight: var(--fw-semi-bold);
              padding-bottom: 0;
            }
          }
        }
      }

      .my-store {
        margin-bottom: 20px;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;

    &--white {
      background: var(--white);
    }
  }

  &__layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
    max-width: 900px;

    &--fluid {
      max-width: none;
      width: 100%;
    }
  }

  &__aside {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 20px;
    width: 280px;

    > a {
      border-radius: 16px;
      overflow: hidden;
      background-color: var(--green-300);

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &__breadcrumbs {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 0;
    font-size: var(--fs-b4);
    line-height: var(--lh-b4);
    white-space: nowrap;
    flex-wrap: wrap;

    a {
      color: var(--gray-900);
      text-decoration: none;
      transition: all 250ms ease-in-out;

      &:hover {
        color: var(--green-500);
      }
    }

    svg {
      width: 16px;
      height: 16px;
      object-fit: contain;

      path {
        // stroke: var(--gray-900);
      }
    }

    span {
      color: var(--green-500);
    }
  }

  &__sections {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.footer {
  $root: &;
  background: var(--white);

  &__cities {
    border-top: 1px solid var(--gray-500);

    #{$root}__content {
      padding: 32px 0 24px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 12px;
      max-height: 348px;

      li {
        display: flex;
        a {
          display: flex;
          color: var(--gray-700);
          font-size: var(--fs-b4);
          line-height: var(--lh-b4);
          transition: all 250ms ease-in-out;

          &:hover {
            color: var(--gray-900);
          }
        }
      }
    }
  }

  &__contact {
    border-top: 1px solid var(--gray-500);

    #{$root}__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      padding: 24px 0;
    }

    &-list {
      display: flex;
      align-items: center;
      gap: 24px;

      li {
        display: flex;
        a {
          display: flex;
          align-items: center;
          gap: 4px;
          color: var(--gray-900);
          font-size: var(--fs-b4);
          line-height: var(--lh-b4);
          font-weight: var(--fw-medium);
          transition: all 250ms ease-in-out;

          &:hover {
            color: var(--green-500);
          }

          svg,
          img {
            width: 16px;
            height: 16px;
            object-fit: contain;
            flex-shrink: 0;
          }
        }
      }
    }

    #{$root}__menu-list {
      display: flex;
      align-items: center;
      gap: 24px;

      li {
        display: flex;
        a {
          display: flex;
          align-items: center;
          gap: 4px;
          color: var(--gray-900);
          font-size: var(--fs-b4);
          line-height: var(--lh-b4);
          font-weight: var(--fw-medium);
          transition: all 250ms ease-in-out;

          &:hover {
            color: var(--green-500);
          }

          svg,
          img {
            width: 16px;
            height: 16px;
            object-fit: contain;
            flex-shrink: 0;
          }
        }
      }
    }
  }

  &__branding {
    padding: 24px 0 40px;
    border-top: 1px solid var(--gray-500);

    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;

      &:last-child {
        margin-top: 8px;
        align-items: flex-end;
      }
    }

    &__col {
      display: flex;
      align-items: center;
      gap: 12px;
      max-width: 50%;
    }

    #{$root}__content {
      display: flex;
      flex-direction: column;
      padding: 24px 0;
      gap: 8px;
    }

    #{$root}__logo {
      height: 32px;
      width: auto;
    }

    #{$root}__shorthands {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    #{$root}__slogan {
      font-size: var(--fs-b4);
      line-height: var(--lh-b4);
      color: var(--gray-700);
    }

    #{$root}__social-list {
      display: flex;
      align-items: center;
      gap: 24px;

      li {
        display: flex;
        a {
          display: flex;
          align-items: center;
          justify-content: center;

          svg,
          img {
            width: 24px;
            height: 24px;
            object-fit: contain;
          }
        }
      }
    }

    #{$root}__copright {
      font-size: var(--fs-b4);
      line-height: var(--lh-b4);
      color: var(--gray-700);
    }
  }
}

.section {
  $root: &;
  display: flex;
  flex-direction: column;
  gap: 28px;

  &--white {
    background: var(--white);
    padding: 16px;
    border-radius: 12px;
  }

  &--categories {
    #{$root}__body {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }
  }

  &--stores {
    #{$root}__body {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }
  }

  &--posts {
    #{$root}__body {
      display: flex;
      flex-wrap: wrap;
      gap: 28px 16px;
    }
  }

  &--post {
    gap: 20px;

    #{$root}__body {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    #{$root}__footer {
      .my-btn {
        flex-grow: 0;
      }
    }
  }

  &--faq {
    gap: 0;
  }

  &--about {
    #{$root}__body {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      > div {
        width: calc(50% - 10px);
      }
    }

    .about {
      &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        &__title {
          font-size: var(--fs-h1);
          line-height: var(--lh-h1);
          font-weight: var(--fw-semi-bold);
        }

        &__description {
          font-size: var(--fs-b5);
          line-height: var(--lh-b5);
          color: var(--gray-700);
        }
      }

      &-image {
        border-radius: 12px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &-video {
        position: relative;
        display: flex;
        border-radius: 12px;
        height: 675px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &__overlay {
          position: absolute;
          inset: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgba(34, 34, 34, 0.6);
          z-index: 2;

          svg {
            width: 72px;
            height: 72px;
            object-fit: contain;
          }
        }
      }
    }
  }

  &--stats {
    gap: 40px;

    #{$root}__header {
      font-size: var(--fs-h1);
      line-height: var(--lh-h1);
    }

    #{$root}__body {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  &--store-details {
    #{$root}__body {
      display: flex;
      justify-content: space-between;
      gap: 48px;
      padding: 20px 0;
    }
  }

  &--tags {
    padding-top: 32px;

    #{$root}__body {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
    }
  }

  &__header {
    $root: &;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    &__title {
      display: flex;
      gap: 4px;
      font-size: var(--fs-h2);
      line-height: var(--lh-h2);
      font-weight: var(--fw-semi-bold);

      &__label {
        color: var(--green-500);
      }
    }

    &--center {
      justify-content: center;
      text-align: center;

      #{$root}__title {
        font-weight: var(--fw-bold);
      }
    }
  }

  &__footer {
    display: flex;
    padding: 16px 0;
    gap: 12px;

    .my-btn {
      flex-grow: 1;
    }
  }
}

.sidebar {
  $root: &;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &--white {
    background: var(--white);
    padding: 12px 0;
    border-radius: 12px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 0 12px;

    &__title {
      font-size: var(--fs-h3);
      line-height: var(--lh-h3);
      font-weight: var(--fw-semi-bold);
    }

    &--center {
      justify-content: center;
      text-align: center;

      #{$root}__title {
        font-weight: var(--fw-semi-bold);
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 50vh;
    padding: 0 12px;
    overflow: auto;
  }

  &__footer {
    display: flex;
    padding: 0 12px;

    .my-btn {
      flex-grow: 1;
    }
  }
}
